<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action="/addProduct" method ="POST" id="">
		<input type="text" name="name" required="true" placeholder="Product Name">
		<input type="number" step="any" name="price" required="true" placeholder="Price">
		<input type="submit" name="submit">
	</form>
</body>
</html>