<html>
<head>
  <style type="text/css">
    .header{
      width: 100%;
      height: 100px;
      background: black;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
    }

    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      cursor:pointer;
    } 
    a:hover{
      color: lightgrey;
    }
    .username{
      margin-left: 35%;
    }
  </style>
</head>
<body>
  <div class="header">
          <a class="studentLogInTab" href="/user/logout/<%=userAndProduct.token%>">Logout</a>
          <h1 class="username"><%=userAndProduct.userData.username%></h1>
  </div>
</body>
</html>